.navbar {
    width: 200%;
    height: 8rem;
    background-color: $black-rgba9;
    position: fixed;
    top: -8rem;
    z-index: 10;
    padding: 3rem;
    transition: height 0.5s;
    animation: animateNavbar 1s 0.5s forwards;
  
    @keyframes animateNavbar {
      0% {
        top: -8rem;
      }
  
      100% {
        top: 0;
      }
    }
  
    .logo {
      position: absolute;
      top: 1.5rem;
      left: 4rem;
  
      a {
        font-family: "MADE Soulmaze", sans-serif;
        font-size: 2.5rem;
        color: $light2;
        letter-spacing: 0.1rem;
      }
  
      span {
        font-family: "MADE Soulmaze", sans-serif;
        font-size: 3.5rem;
        font-weight: bold;
        color: $dark-red;
      }
    }
  
    .nav-list {
      position: absolute;
      top: 25%;
      right: 73%;
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s;
  
      .nav-link {
        font-family: "MADE Soulmaze", sans-serif;
        font-size: 4rem;
        letter-spacing: 0.3rem;
        color: $white;
        margin: 2rem 0;
        transition: color 0.4s;
  
        &:hover {
          color: $dark-red;
        }
      }
    }
    &.change .nav-list {
      opacity: 1;
      visibility: visible;
      transition: all 0.7s 0.5s;
    }
  }
  
  .change.navbar {
    height: 100vh;
  }
  