$white: #fff;
$black: #000;
$light: #ddd;
$light2: #eee;
$gray: #aaa;
$light-gray: #ccc;
$black-rgba3: rgba(0, 0, 0, 0.3);
$black-rgba4: rgba(0, 0, 0, 0.4);
$black-rgba5: rgba(0, 0, 0, 0.5);
$black-rgba6: rgba(0, 0, 0, 0.6);
$black-rgba7: rgba(0, 0, 0, 0.7);
$black-rgba9: rgba(0, 0, 0, 0.9);
$dark-red: #9e0e09;
$dark-red2: #7a1010;
$dark-blue: #087285;
$blue: #0da5d3;
$dark-yellow: #946809;
$yellow: #bdba0e;
$red: #a10c14;
$light-red: #e23b3d;
$dark-green: #0b7e48;
$green: #3be286;
